<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-th"></i>
          <span>Parâmetros Gerais</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li><a [routerLink]="['/situacaoobra']"><i class="fa fa-spinner"></i> <span>Situação obra</span></a></li>
          <li><a [routerLink]="['/tipocaucao']"><i class="fa fa-spinner"></i> <span>Tipo caução</span></a></li>
          <li><a [routerLink]="['/tipoobra']"><i class="fa fa-spinner"></i> <span>Tipo obra</span></a></li>
          <li><a [routerLink]="['/tipofiscalizacao']"><i class="fa fa-spinner"></i> <span>Tipo fiscalização</span></a></li>
          <li><a [routerLink]="['/tipocontrato']"><i class="fa fa-spinner"></i> <span>Tipo contrato</span></a></li>
          <li><a [routerLink]="['/naturezaobs']"><i class="fa fa-spinner"></i> <span>Natureza da observação</span></a></li>
          <li><a [routerLink]="['/tipodocumento']"><i class="fa fa-spinner"></i> <span>Tipo documento obra</span></a></li>
        </ul>

      </li>
      <li><a [routerLink]="['/obra']"><i class="fa fa-spinner"></i> <span>Obra</span></a></li>
      <li><a [routerLink]="['/movimentos']"><i class="fa fa-spinner"></i> <span>Movimentos</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
